<header class=" tipografia borde fondo letraHeader container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <img src="assets/imagenes/gatito.jpg" alt="imagen que sustituye una mia">
        </div>
        <div class="col-sm-9 tipoLetra ">
            <section>
            <p class="espaciopadding letraEncabezado"> {{datosPersonales.nombre}}</p>
            <p class="letraEncabezado"> {{datosPersonales.apellido}}</p>
            <p class="letraEncabezado">{{datosPersonales.email}}</p>
            </section>
            
        </div>
    </div>


</header>
