.fondo{ background-color: rgb(1, 29, 48);}
.letraHeader{ color:aliceblue}
.tipoLetra{font-family: Arial, Helvetica, sans-serif;}
.espaciopadding{padding-top: 50px;}
.letraEncabezado{font-size: 20px;}
.tipografia{font-family: Arial,Tahoma;}
.borde{margin: 30px; }


