.fondo{ background-color: rgb(1, 29, 48);}
.letraHeader{ color:aliceblue}
.tipografia{font-family: Arial,Tahoma;}
.borde{margin: 30px; }
.letraCentrada{text-align: center;}
.fondoParrafos{background-color: rgb(201, 198, 198); padding: 10px; margin-top: 10px;}
.margenEntreParrafos{margin-top: 5px;}
.colordiv{background-color: aliceblue;}
.footerEspacio{margin: 30px}
.tamañoLetra{font-size: 18px;}
.tamañoLetraTitulos{font-size: 25px;}
.tipoLetra{font-family: Arial, Helvetica, sans-serif;}
.espaciopadding{padding-top: 50px;}
.letraEncabezado{font-size: 20px;}