<footer class="footerEspacio borde tipografia container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="fondoParrafos col-sm-9">
                <p> ESC 713</p>
                <p> Proyecto Practicas Profesionalizantes</p>
                <p> Estudiante:<span> Celina Florencia Fantino Melillanca</span></p>
                <p>Email:<span>fantinomelillancacelina@gmail.com</span></p>
            </div>
            <div class="col-sm-3">
                <img src="assets/imagenes/logo713.jpeg" alt="logo de la 713" width="100%">
            </div>
        </div>
    </div>

</footer>
