.fondo{ background-color: rgb(1, 29, 48);}
.tipoLetra{font-family: Arial, Helvetica, sans-serif;}  
.fondoParrafos{background-color: rgb(201, 198, 198); padding: 10px; margin-top: 10px;}
.tipografia{font-family: Arial,Tahoma;}
.borde{margin: 30px; }
.letraCentrada{text-align: center;}